<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.15" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.15" targetFramework="net45" />
  <package id="Excel.Document.Reader" version="1.0.1" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.4.2" targetFramework="net45" />
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="Testing.Tools" version="1.0.0" targetFramework="net45" />
</packages>